In [ ]:
#import libraries

In [38]:
import pandas as pd
import numpy as nm
import matplotlib as mt
import seaborn as sb

In [36]:
#Comments in python
#comments in python is always adding by prefixing with #
#when the code runs , # prefixed lines are ignored and it gives context while code reviews or if multiple ppl working on the same code

In [1]:
#variables - they can begin with alphabet or _, they are case sensitive 
a = "I am gouree"
print(a)

I am gouree

In [2]:
#casting - this is when we want to assign a data type to a variable 
a = str(75) # this gives string as data type 
print(type(a))

<class 'str'>

In [6]:
#multiple variables, we can give multiple variables at once by adding commas in between 
x, y, z = "bat", "ball", "stumps"
print(x)
print(y)
print(z)

bat
ball
stumps

In [7]:
#we can also give 1 variable multiple assignments 
x = y = z ="bat"
print(x)
print(y)
print(z)

bat
bat
bat

In [8]:
#datatypes , string, int, complex, float etc. to look at what type the data is we use 
x=45
print(type(x))

<class 'int'>

In [10]:
#casting is assigning a data type so if the data type is float we can change it to int etc.. 
y= int(2.34) # y will be 2
print(y)

2

In [13]:
#strings they are written in " " or ' ' we can assign strings to variables, for multi line strings we use """ """ or ''' ''' 3 quotes
#strings are arrays , 1st character is 0, 2nd is 1 .... so if we want to print a particular position only 
x = "the city pune is lovely"
print(x[5]) # this prints the 5th character starting from 0 on the left

i

In [15]:
#string length can be seen by using len
x = "Maharashtra is a big state"
print(len(x)) #prints the total characters in the sentence

26

In [17]:
#checking is there are some words present or not prosent in the string can be done using in or not in 
text = "traffic in cities is getting worse"
print("cities" in text) #give True is the word "cities" is in the text , otherwise gives False

True

In [19]:
#if we want the response as Yes / No or a sentence instead of True or False then we can use if statement 
text = "traffic in cities is getting worse"
if "cities" in text:
    print("yes") #this will return yes, if we want a sentence then give the whole string "Yes, it is present"

yes

In [24]:
#if we want to check if something is NOT in the string we use not in instead of in
text = "traffic in cities is getting worse"
if "worst" not in text:
    print("yes") #notice I gave not in and the spelling is worst not worse, if I used worse I ned to give else statement otherwise no result is returned aswe have not said what should be done 
else:
    print("no")

yes

In [29]:
#slicing of strings is to return only part of the string based on the character position. the position is counted from left starting with 0, even spaces are a position
text = "India is incredible"
print(text[3]) #this gives the single character that is in the 3rd position, if I want from a position to some other position i need to mention
print(text[3:10]) #this gives the characters that appear from 3rd position to 9th position, 10 is not included 
print(text[3:]) #this gives 3rd character till the end of string 
print(text[:-1]) #this gives 0th character till the last characted excluding , in this case I have used -ve indexing

i
ia is i
ia is incredible
India is incredibl

In [ ]:
#to change case of the string we use upper or lower 
text.upper() -> print(text.upper()) #this changes all to upper case 
text.lower() -> print(text.lower()) #this changes all to lower case

In [32]:
#to to remove whitespace , like how we use trim in excel here we use strip()
text = "  this is python"
print(text.strip()) #this will retun the string by removing the space in the start of the string

this is python

In [34]:
#to replace a character in a string we use replace() 
text = "This is python"
print(text.replace("s" , "c")) #this replaces all "s" with "c"

Thic ic python

In [37]:
#to split the string into substrings we use split()
text = "This is python"
print(text.split(",")) #this gives us the substrong in sq brackets []

['This is python']

In [40]:
#string concatenation is used just like in excel to combine the data 
a= "hi"
b="good morning"
print(a+b) # this gives us higood morning, we need a space between hi and good so we need to add it in the string variable itself. of by adding another variable to give the " " space in between

higood morning

In [44]:
#formating of strings can be done by using f-string , we can use {} for this 
age=18
text = f"the legal age to drive is {age}"
print(text) #this is giving the age variable as part of the text printed

the legal age to drive is 18

In [43]:
#escape characters , these are used if we want to put a " " or a ' ' within a string, add a new tab, sentence etc like i want ot write it's the quote needs to have an escape character 
text = "it\'s ok"
print(text) #because we added a backslash \' we did not get an error otherwise the quote would cause syntax error

it's ok